/* App.css */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url('https://images.pexels.com/photos/1370295/pexels-photo-1370295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.app {
  width: 80vw; /* 80% of viewport width */
  margin: 50px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* White with transparency */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

}

h1 {
  text-align: center;
  color: #5c4033;
  font-size: 3em;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 70vw;
}

.search-bar input[type="text"],
.search-bar select {
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 1;
  margin-right: 10px;
}

.search-bar button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #5c4033;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #8d684e;
}

.search-bar input[type="text"] {
  flex: 2;
}

.search-bar select {
  flex: 1;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px; /* Adjust margin as needed */
}

.checkbox-group label {
  margin-right: 20px; /* Adjust spacing between checkboxes */
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px; /* Adjust spacing between checkbox and label */
}
